setuptools
altair==4.2.2
attrs==24.2.0
jsonschema==4.23.0
numpy==2.1.1
pandas==2.2.2
python-dateutil==2.9.0.post0
pytz==2024.2
referencing==0.35.1
rpds-py==0.20.0
six==1.16.0
toolz==0.12.1
tzdata==2024.1
