automat==20.2.0
babel==2.11.0
bottleneck==1.3.7
brotli==1.0.9
cython==3.0.10
deprecated==1.2.14
fiona==1.9.4.post1
flask==2.2.5
flask-cors==4.0.1
flask-restful==0.3.9
gitpython==3.1.43
heapdict==1.0.1
jinja2==3.1.3
markdown==3.4.1
markupsafe==2.1.3
protego==0.1.16
pydispatcher==2.0.5
pyhamcrest==2.0.2
pyjwt==2.4.0
pynacl==1.5.0
pypika==0.48.9
pyqt5==5.15.10
pyqt5-sip==12.13.0
pysocks==1.7.1
pyyaml==6.0.1
pygments==2.15.1
qdarkstyle==3.0.2
qtawesome==1.2.2
qtpy==2.4.1
rtree==1.0.1
sqlalchemy==2.0.21
scrapy==2.11.1
send2trash==1.8.2
sphinx==5.0.2
tbb==0.2
unidecode==1.2.0
werkzeug==2.2.3
xlsxwriter==3.0.3
absl-py==2.1.0
aiohappyeyeballs==2.4.0
aiohttp==3.10.5
aiosignal==1.2.0
alabaster==0.7.12
altair==5.4.1
altgraph==0.17.4
anaconda-anon-usage==0.4.3
anaconda-client==1.12.2
anaconda-cloud-auth==0.1.4
anaconda-project==0.10.2
aniso8601==9.0.1
annotated-types==0.7.0
anyio==3.5.0
appdirs==1.4.4
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.2.3
asgiref==3.8.1
astroid==2.14.2
astropy==5.3.4
asttokens==2.0.5
astunparse==1.6.3
async-timeout==4.0.1
atomicwrites==1.4.0
attrs==23.1.0
autopep8==1.6.0
backcall==0.2.0
backoff==2.2.1
backports.functools-lru-cache==1.6.4
backports.tempfile==1.0
backports.weakref==1.0.post1
bcrypt==4.2.0
beautifulsoup4==4.12.2
binaryornot==0.4.4
bitarray==2.4.1
bkcharts==0.2
black==24.3.0
bleach==4.1.0
blinker==1.8.2
blis==0.7.9
bokeh==2.4.3
boltons==23.0.0
boto3==1.21.32
botocore==1.24.32
brotlipy==0.7.0
build==1.2.2
cachetools==4.2.2
catalogue==2.0.8
certifi==2024.2.2
cffi==1.16.0
chardet==4.0.0
charset-normalizer==2.0.4
chroma-hnswlib==0.7.6
chromadb==0.5.5
click==8.1.7
click-plugins==1.1.1
cligj==0.7.2
cloudpickle==2.2.1
clyent==1.2.2
cmake==3.28.1
colorama==0.4.6
colorcet==3.1.0
coloredlogs==15.0.1
comm==0.2.1
comtypes==1.1.10
conda==23.9.0
conda-build==3.27.0
conda-content-trust==0.2.0
conda-index==0.4.0
conda-pack==0.6.0
conda-package-handling==2.2.0
conda-package-streaming==0.9.0
conda-token==0.4.0
conda-verify==3.4.2
confection==0.0.3
constantly==23.10.4
contourpy==1.2.0
cookiecutter==2.6.0
cryptography==42.0.5
cssselect==1.2.0
cx-oracle==8.3.0
cycler==0.11.0
cymem==2.0.7
cytoolz==0.12.2
daal4py==2021.5.0
dask==2023.11.0
dataclasses-json==0.6.7
datashader==0.13.0
datashape==0.5.4
debugpy==1.6.7
decorator==5.1.1
defusedxml==0.7.1
diff-match-patch==20200713
dill==0.3.7
distributed==2023.11.0
dm-tree==0.1.8
docutils==0.18.1
en-core-web-sm==3.4.1
entrypoints==0.4
et-xmlfile==1.1.0
exceptiongroup==1.2.0
executing==0.8.3
fastapi==0.103.0
fastjsonschema==2.16.2
filelock==3.13.1
flake8==4.0.1
flatbuffers==24.3.25
fonttools==4.25.0
frozenlist==1.4.0
fsspec==2023.10.0
future==0.18.3
gast==0.5.4
gensim==4.1.2
geopandas==0.13.2
gitdb==4.0.11
glob2==0.7
gmpy2==2.1.2
google-ai-generativelanguage==0.6.9
google-api-core==2.19.2
google-api-python-client==2.145.0
google-auth==2.27.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.0
google-cloud-core==1.7.1
google-cloud-storage==1.31.0
google-crc32c==1.5.0
google-generativeai==0.8.1
google-pasta==0.2.0
google-resumable-media==1.3.1
googleapis-common-protos==1.56.4
greenlet==3.0.1
grpcio==1.66.1
grpcio-status==1.62.3
h11==0.14.0
h5py==3.11.0
holoviews==1.14.8
httpcore==1.0.5
httplib2==0.22.0
httptools==0.6.1
httpx==0.27.2
huggingface-hub==0.24.7
humanfriendly==10.0
hvplot==0.7.3
hyperlink==21.0.0
idna==3.4
imagecodecs==2023.1.23
imageio==2.33.1
imagesize==1.4.1
imbalanced-learn==0.10.1
importlib-metadata==7.0.1
importlib-resources==6.1.1
imutils==0.5.4
incremental==22.10.0
inflection==0.5.1
iniconfig==1.1.1
intake==0.6.8
intervaltree==3.1.0
ipykernel==6.28.0
ipython==7.31.1
ipython-genutils==0.2.0
ipywidgets==7.6.5
isort==5.9.3
itemadapter==0.3.0
itemloaders==1.1.0
itsdangerous==2.0.1
jaraco.classes==3.2.1
jdcal==1.4.1
jedi==0.18.1
jellyfish==1.0.1
jinja2-time==0.2.0
jmespath==1.0.1
joblib==1.2.0
json5==0.9.6
jsonpatch==1.33
jsonpointer==2.1
jsonschema==4.19.2
jsonschema-specifications==2023.7.1
jupyter==1.0.0
jupyter-client==7.4.9
jupyter-console==6.6.3
jupyter-core==5.5.0
jupyter-server==1.13.5
jupyterlab==3.3.2
jupyterlab-pygments==0.2.2
jupyterlab-server==2.10.3
jupyterlab-widgets==3.0.10
keras==3.5.0
keyring==24.3.1
kiwisolver==1.4.4
kubernetes==30.1.0
langchain==0.3.0
langchain-community==0.3.0
langchain-core==0.3.0
langchain-text-splitters==0.3.0
langcodes==3.3.0
langsmith==0.1.120
lazy-object-proxy==1.10.0
libarchive-c==2.9
libclang==16.0.6
llvmlite==0.38.0
lmdb==1.4.1
locket==1.0.0
lxml==4.9.3
lz4==4.3.2
markdown-it-py==2.2.0
marshmallow==3.22.0
matplotlib==3.8.4
matplotlib-inline==0.1.6
mccabe==0.6.1
mdurl==0.1.0
menuinst==1.4.19
mistune==2.0.4
mkl-fft==1.3.1
mkl-random==1.2.2
mkl-service==2.4.0
ml-dtypes==0.4.1
mmh3==4.1.0
mock==4.0.3
monotonic==1.6
more-itertools==10.1.0
mpmath==1.3.0
msgpack==1.0.3
multidict==6.0.4
multipledispatch==0.6.0
munkres==1.1.4
murmurhash==1.0.9
mypy-extensions==1.0.0
mysql-connector-python==8.0.31
namex==0.0.7
narwhals==1.8.1
navigator-updater==0.4.0
nbclassic==0.3.5
nbclient==0.8.0
nbconvert==7.10.0
nbformat==5.9.2
nest-asyncio==1.6.0
networkx==3.1
nltk==3.8.1
nose==1.3.7
notebook==6.4.8
numba==0.55.1
numexpr==2.8.4
numpy==1.24.2
numpydoc==1.5.0
oauthlib==3.2.2
olefile==0.46
onnxruntime==1.19.2
openai==0.26.5
opencv-python==4.6.0.66
openpyxl==3.0.10
opentelemetry-api==1.27.0
opentelemetry-exporter-otlp-proto-common==1.27.0
opentelemetry-exporter-otlp-proto-grpc==1.27.0
opentelemetry-instrumentation==0.48b0
opentelemetry-instrumentation-asgi==0.48b0
opentelemetry-instrumentation-fastapi==0.48b0
opentelemetry-proto==1.27.0
opentelemetry-sdk==1.27.0
opentelemetry-semantic-conventions==0.48b0
opentelemetry-util-http==0.48b0
opt-einsum==3.3.0
optree==0.12.1
orjson==3.10.7
overrides==7.7.0
packaging==23.2
pandas==1.5.3
pandocfilters==1.5.0
panel==0.14.3
param==1.13.0
paramiko==2.8.1
parsel==1.8.1
parso==0.8.3
partd==1.4.1
pathspec==0.10.3
pathy==0.10.0
patsy==0.5.3
pefile==2023.2.7
pep8==1.7.1
pexpect==4.8.0
pickleshare==0.7.5
pillow==10.2.0
pip==23.3.1
pkce==1.0.3
pkginfo==1.9.6
platformdirs==3.10.0
plotly==5.19.0
pluggy==1.0.0
ply==3.11
pooch==1.7.0
posthog==3.6.6
poyo==0.5.0
preshed==3.0.8
prometheus-client==0.14.1
prompt-toolkit==3.0.43
proto-plus==1.24.0
protobuf==4.23.4
psutil==5.9.0
ptyprocess==0.7.0
pure-eval==0.2.2
py==1.11.0
pyopenssl==24.0.0
py-cpuinfo==9.0.0
pyarrow==14.0.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.8.0
pycosat==0.6.6
pycparser==2.21
pyct==0.5.0
pycurl==7.45.2
pydantic==2.9.1
pydantic-core==2.23.3
pydantic-settings==2.5.2
pydeck==0.9.1
pydocstyle==6.3.0
pyerfa==2.0.0
pyflakes==2.4.0
pyinstaller==6.6.0
pyinstaller-hooks-contrib==2024.4
pylint==2.16.2
pyls-spyder==0.4.0
pyodbc==5.0.1
pyparsing==3.0.9
pypd==1.1.0
pypdf==4.3.1
pyproj==3.6.0
pyproject-hooks==1.1.0
pyreadline==2.1
pyreadline3==3.5.2
pyrsistent==0.18.0
pytest==7.4.0
python-dateutil==2.8.2
python-docx==0.8.11
python-dotenv==0.21.0
python-lsp-black==1.0.0
python-lsp-jsonrpc==1.1.2
python-lsp-server==1.3.3
python-slugify==5.0.2
python-snappy==0.6.1
pytoolconfig==1.2.6
pytz==2023.3.post1
pyviz-comms==2.3.0
pywavelets==1.5.0
pywin32==305.1
pywin32-ctypes==0.2.2
pywinpty==2.0.10
pyzmq==24.0.1
qstylizer==0.2.2
qtconsole==5.2.2
queuelib==1.6.2
referencing==0.30.2
regex==2023.10.3
requests==2.31.0
requests-file==1.5.1
requests-oauthlib==1.3.1
requests-toolbelt==1.0.0
rich==13.3.5
rope==1.12.0
rpds-py==0.10.6
rsa==4.7.2
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.6
ruamel-yaml-conda==0.15.100
s3transfer==0.5.0
safetensors==0.4.5
scikit-image==0.19.2
scikit-learn==1.2.2
scikit-learn-intelex==2021.20220215.102710
scipy==1.13.1
seaborn==0.11.2
semver==2.13.0
sentence-transformers==3.1.0
service-identity==18.1.0
setuptools==68.2.2
shapely==2.0.1
shellingham==1.5.4
sip==6.7.12
six==1.16.0
smart-open==5.2.1
smmap==5.0.1
sniffio==1.3.0
snowballstemmer==2.2.0
sortedcollections==2.1.0
sortedcontainers==2.4.0
soupsieve==2.5
spacy==3.4.3
spacy-legacy==3.0.10
spacy-loggers==1.0.3
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
spyder==5.2.2
spyder-kernels==2.2.1
srsly==2.4.5
stack-data==0.2.0
starlette==0.27.0
statsmodels==0.13.2
streamlit==1.38.0
sympy==1.12
tables==3.9.2
tabulate==0.9.0
tblib==1.7.0
tenacity==8.5.0
tensorboard==2.17.1
tensorboard-data-server==0.7.2
tensorflow==2.17.0
tensorflow-estimator==2.15.0
tensorflow-intel==2.17.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.4.0
terminado==0.17.1
testpath==0.5.0
text-unidecode==1.3
textblob==0.17.1
textdistance==4.2.1
tf-keras==2.17.0
thinc==8.1.5
threadpoolctl==3.5.0
three-merge==0.1.1
tifffile==2023.4.12
tinycss==0.4
tinycss2==1.2.1
tldextract==3.2.0
tokenizers==0.19.1
toml==0.10.2
tomli==2.0.1
tomlkit==0.11.1
toolz==0.12.0
torch==1.12.1
tornado==6.3.3
tqdm==4.65.0
traitlets==5.7.1
transformers==4.44.2
twisted==23.10.0
twisted-iocpsupport==1.0.2
typed-ast==1.4.3
typer==0.12.5
typing-extensions==4.12.2
typing-inspect==0.9.0
ujson==5.4.0
uritemplate==4.1.1
urllib3==2.1.0
uvicorn==0.23.2
w3lib==2.1.2
wasabi==0.10.1
watchdog==2.1.6
watchfiles==0.24.0
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==0.58.0
websockets==13.0.1
wheel==0.41.2
widgetsnbextension==3.5.2
win-inet-pton==1.1.0
win-unicode-console==0.5
wincertstore==0.2
wonderwords==2.2.0
wordcloud==1.8.2.2
wrapt==1.14.1
xarray==0.20.1
xlrd==2.0.1
xlwings==0.29.1
yapf==0.40.2
yarl==1.9.3
zict==3.0.0
zipp==3.17.0
zope.interface==5.4.0
zstandard==0.19.0
